<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Contact</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
 </head>

 <body>
  <header>
    <div class="home-container">
      <div class="home-navbar">
        <header data-role="Header" class="home-header max-width-container">
          <div class="home-navbar1">
            <div class="home-container01">

            </div>
            <div class="home-middle">
              <div class="home-left">
                <a class="navbar-link" href="{{ url_for('StarGrocery') }}" >HOME</a>

                <a class="navbar-link" href="{{ url_for('SpecialOffers') }}">SPECIAL OFFERS</a>
              </div>
              <a class="navbar-logo-title" href="{{ url_for('StarGrocery') }}">STAR GROCERY</a>
              <div class="home-right">
                <a class="navbar-link" href="{{ url_for('About') }}">ABOUT</a>
                <a class="navbar-link" >CONTACT</a>


            </div>
          </div>
        </div>
      </div>

      </div>
      </div>
    </header>
  <main>
    <h1>Contact Us</h1>
    <div style="text-align: center; margin: 0 150px;">
    <p/>
    <p>We will be available 24/7 at your service. If there is any inconveniences caused from ourside, you could contact us through mail or phone.</p>
    <p style="text-align: left; margin: 0 50px;">Below is a list where you could contact us - </p>
    <p style="text-align: left; margin: 0 150px;">Email - stargrocery@gmail.com</p>
    <p style="text-align: left; margin: 0 150px;">Tel - 0497249684</p>
    <p style="text-align: left; margin: 0 150px;">Tel - 0497249165</p>
    </div>
  </main>
 </body>
</html>
